<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/colours.css' %}">
    <link rel="shortcut icon" href="{%static 'core/images/small_docs.png' %}" type = "image/jpg">
    {% if title %}
      <title>Plagiarism Checker - {{ title }}</title>
    {% else %}
      <title>Plagiarism Checker</title>
    {% endif %}
  </head>

  <body>
    <div class="ribbon-container">
      <img src="{% static 'core/images/plagiarism_logo-transparent.png' %}" class="ribbon-logo">
      {%if user.is_authenticated %}
        <div>
          <b class="plain-link plain" style="padding-right:2.5rem;">{{ user.username | title }}</b>
          <a class="plain-link" style="margin-right: 2rem;" href="{% url 'compare_multiple' %}">Multiple Docs</a>
          <a class="plain-link" style="margin-right: 2rem;" href="{% url 'get_report' %}">Get Report</a>
          <a class="plain-link" href="{% url 'logout' %}">Logout</a>
        </div>
      {% endif %}

    </div>

    <div class="container">
      {% if messages %}
        {% for message in messages%}
          <div class="card cadmium-red">
            <b><em> {{ message }} </em></b>
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}
    </div>

  </body>

</html>
